<h1>Applications#new</h1>
<%= render partial: 'form', locals: { path: "/applications", 
                                      method: :post, 
                                      button_text: 'Create Application'} %>

<% if @application.errors.any? %>
<% @application.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
<% end %>
